$primary-color: hsl(218, 44%, 22%);
$secondary-color: hsl(220, 15%, 55%);
$background-color:  hsl(212, 45%, 89%);
$card-color: hsl(0, 0%, 100%);
$container-width: 1440px;
$border-radius: 10px;
$attribution-color: hsl(228, 45%, 44%);