$primary-color-card: hsl(31, 77%, 52%);
$secondary-color-card: hsl(184, 100%, 22%);
$third-color-card: hsl(179, 100%, 13%);
$transparent-white: hsla(0, 0%, 100%, 0.75);
$very-light-gray: hsl(0, 0%, 95%);