@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container .content {
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 880px) {
  body .container .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 40px;
  }
}

body .container .content .card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px;
  width: 290px;
}

@media (max-width: 880px) {
  body .container .content .card-content {
    width: 320px;
  }
}

@media (max-width: 350px) {
  body .container .content .card-content {
    width: 260px;
  }
}

body .container .content .card-content h1 {
  color: #f2f2f2;
  font-weight: bold;
  font-family: 'Big Shoulders Display', cursive;
  margin: 30px 0;
  text-transform: uppercase;
}

body .container .content .card-content p {
  color: rgba(255, 255, 255, 0.75);
  font-size: 15px;
  margin-bottom: 70px;
  line-height: 30px;
  font-family: 'Lexend Deca', sans-serif;
}

@media (max-width: 880px) {
  body .container .content .card-content p {
    margin-bottom: 40px;
  }
}

body .container .content .card-content button {
  background: white;
  border: none;
  border-radius: 30px;
  width: 70%;
  height: 45px;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: 'Lexend Deca', sans-serif;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

body .container .content .card-content button:hover {
  border: 3px solid #f2f2f2;
  background: transparent;
}

body .container .content .card-content.one {
  background: #e38826;
  border-radius: 10px 0 0 10px;
}

@media (max-width: 880px) {
  body .container .content .card-content.one {
    border-radius: 10px 10px 0 0;
  }
}

body .container .content .card-content.one button {
  color: #e38826;
}

body .container .content .card-content.one button:hover {
  color: #f2f2f2;
}

body .container .content .card-content.two {
  background: #006970;
}

body .container .content .card-content.two button {
  color: #006970;
}

body .container .content .card-content.two button:hover {
  color: #f2f2f2;
}

body .container .content .card-content.three {
  background: #004241;
  border-radius: 0 10px 10px 0;
}

@media (max-width: 880px) {
  body .container .content .card-content.three {
    border-radius: 0 0 10px 10px;
  }
}

body .container .content .card-content.three button {
  color: #004241;
}

body .container .content .card-content.three button:hover {
  color: #f2f2f2;
}

body .attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 20px;
}

@media (max-width: 880px) {
  body .attribution {
    margin-bottom: 20px;
  }
}

body .attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=style.css.map */