$body-color: hsl(216, 12%, 8%);
$card-color: hsl(213, 19%, 18%);
$btn-color: hsl(25, 97%, 53%);
$rate-color: hsla(216, 12%, 54%, 0.2);
$main-text-color: hsl(0, 0%, 100%);
$text-color:hsl(217, 12%, 63%);
