@mixin flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin large-device {
  @media(max-width: 1050px) {
    @content;
  }
}

@mixin medium-device {
  @media(max-width: 880px) {
    @content;
  }
}

@mixin small-device {
  @media(max-width: 680px) {
    @content;
  }
}
