@import 'variables';
@import 'mixins';

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

main {
  background: $background-color;
  min-height: 100vh;
  @include flex-center();
  

  .card-content {
    background: $card-color;
    @include flex-center();
  
    width: 280px;
    border-radius: $border-radius;

    .img {
      padding-top: 15px;

      img {
        width: 250px;
        border-radius: $border-radius;
      }
    }

    .text {
      text-align: center;
      width: 85%;
      margin-top: 20px;

      h3 {
        color: $primary-color;
        font-weight: 700;
        margin-bottom: 15px;
      }

      p {
        font-size: 15px;
        color: $secondary-color;
        margin-bottom: 30px;
      }
    }
  }

  .attribution {
    margin-top: 20px;
    font-size: 11px; 
    text-align: center; 

    a {
      color: $attribution-color;
    }
  }
}
