@import 'variables';

@mixin gradient {
  background: linear-gradient(147deg, #FF2525 0%, #FFE53B 74%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@mixin container {
  max-width: $container-width;
  padding: 1.5rem 0;
  margin: 0 auto;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin bg-card ($img) {
  background-image: url('../img-card/#{$img}');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  filter: grayscale(100%);
  transition: 0.6s;

  &:hover {
    background-size: 110%;
    filter: grayscale(0%);
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../img-card/#{$img}');
  }
}

@mixin animation {
  @keyframes show-left {
    from {
      opacity: 0;
      transform: translate3d(30px, 0, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
}

@mixin modal {
  @keyframes modal {
    from {
      opacity: 0;
      transform: translate3d(0, -30px, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0 , 0, 0);
    }
  }
}

@mixin mobile {
  @media (max-width: 650px) {
    @content;
  }
}

@mixin small-device {
  @media (max-width: 350px) {
    @content;
  }
}