@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
.modal-container {
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.modal-container.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: modal 0.3s forwards;
          animation: modal 0.3s forwards;
}

.modal-container .modal {
  width: 300px;
  background: #777;
  color: #fff;
  padding: 40px;
  border: 5px solid #8EF9F3;
  -webkit-box-shadow: 0 0 0 5px #777;
          box-shadow: 0 0 0 5px #777;
  position: relative;
}

@media (max-width: 350px) {
  .modal-container .modal {
    width: 250px;
  }
}

.modal-container .modal .close {
  position: absolute;
  top: -20px;
  right: -15px;
  width: 50px;
  height: 50px;
  border: 4px solid #777;
  border-radius: 50%;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
  background: #8EF9F3;
  font-size: 1.2rem;
  font-weight: bold;
  color: #777;
  cursor: pointer;
}

.modal-container .modal p {
  font-size: 18px;
}

.modal-container .modal p a {
  color: #8EF9F3;
  font-weight: 700;
}

@-webkit-keyframes modal {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -30px, 0);
            transform: translate3d(0, -30px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes modal {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -30px, 0);
            transform: translate3d(0, -30px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  scroll-padding-top: 5rem;
}

ul {
  list-style: none;
}

a {
  color: #777;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

button {
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

body {
  background: #2F3034;
  color: #777;
}

body .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1170px;
  padding: 1.5rem 0;
  margin: 0 auto;
}

@media (max-width: 650px) {
  body .header {
    padding: 1.1rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 400;
    background: #2F3034;
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
  }
}

body .header .brand {
  color: #fff;
  font-size: 1.8rem;
  text-transform: capitalize;
  font-weight: 700;
  cursor: pointer;
}

@media (max-width: 650px) {
  body .header .brand {
    font-size: 1.1rem;
  }
}

body .header .navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 650px) {
  body .header .navbar ul {
    position: absolute;
    top: 0;
    right: 0;
    background: #2F3034;
    width: 160px;
    z-index: 100;
    display: none;
    padding: 60px 0 20px 0;
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
  }
  body .header .navbar ul.active {
    display: block;
    -webkit-animation: show-left .3s forwards;
            animation: show-left .3s forwards;
  }
}

body .header .navbar ul li {
  margin: 0 1rem;
  text-transform: uppercase;
  font-size: 0.9rem;
}

@media (max-width: 650px) {
  body .header .navbar ul li:not(:last-child) {
    margin-bottom: 70px;
  }
}

body .header .navbar ul li a.active {
  color: #8EF9F3;
}

body .header .navbar ul li a:hover {
  color: #8EF9F3;
}

body .header .social-media ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 650px) {
  body .header .social-media ul {
    display: none;
  }
}

body .header .social-media ul li {
  margin: 0 1rem;
}

body .header .social-media ul li a:hover {
  color: #fff;
}

body .header #menu-hamburger {
  display: none;
}

@media (max-width: 650px) {
  body .header #menu-hamburger {
    display: block;
    position: relative;
    z-index: 300;
    font-size: 1.5rem;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
  }
  body .header #menu-hamburger.fa-times {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@media (max-width: 650px) {
  body main {
    margin-top: 5rem;
  }
}

body main .solution {
  max-width: 1170px;
  padding: 1.5rem 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
}

@media (max-width: 650px) {
  body main .solution {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

body main .solution .solution-card {
  width: 31%;
  height: 200px;
  margin-bottom: 4%;
  color: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 650px) {
  body main .solution .solution-card {
    width: 90%;
    margin-bottom: 6%;
  }
}

body main .solution .solution-card .solution-card-title {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 1rem;
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
}

body main .solution .solution-card .solution-btn {
  padding: 0.6rem 2rem;
  border: 2px solid #fff;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}

body main .solution .solution-card .solution-btn:hover {
  background: #fff;
  color: #2F3034;
}

body main .solution #card-1 {
  background-image: url("../img-card/qr-code-component.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

body main .solution #card-1:hover {
  background-size: 110%;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img-card/qr-code-component.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img-card/qr-code-component.jpg");
}

@media (max-width: 650px) {
  body main .solution #card-1 {
    -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
    background-size: 110%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img-card/qr-code-component.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img-card/qr-code-component.jpg");
  }
}

body main .solution #card-2 {
  background-image: url("../img-card/stats-component.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

body main .solution #card-2:hover {
  background-size: 110%;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img-card/stats-component.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img-card/stats-component.jpg");
}

@media (max-width: 650px) {
  body main .solution #card-2 {
    -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
    background-size: 110%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img-card/stats-component.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img-card/stats-component.jpg");
  }
}

body main .solution #card-3 {
  background-image: url("../img-card/3-column-component.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

body main .solution #card-3:hover {
  background-size: 110%;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img-card/3-column-component.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img-card/3-column-component.jpg");
}

@media (max-width: 650px) {
  body main .solution #card-3 {
    -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
    background-size: 110%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img-card/3-column-component.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img-card/3-column-component.jpg");
  }
}

body main .solution #card-4 {
  background-image: url("../img-card/advice-generator.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

body main .solution #card-4:hover {
  background-size: 110%;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img-card/advice-generator.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img-card/advice-generator.jpg");
}

@media (max-width: 650px) {
  body main .solution #card-4 {
    -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
    background-size: 110%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img-card/advice-generator.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img-card/advice-generator.jpg");
  }
}

body main .solution #card-5 {
  background-image: url("../img-card/under.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

body main .solution #card-5:hover {
  background-size: 110%;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img-card/under.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img-card/under.jpg");
}

@media (max-width: 650px) {
  body main .solution #card-5 {
    -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
    background-size: 110%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img-card/under.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img-card/under.jpg");
  }
}

body main .solution #card-6 {
  background-image: url("../img-card/under.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

body main .solution #card-6:hover {
  background-size: 110%;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img-card/under.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img-card/under.jpg");
}

@media (max-width: 650px) {
  body main .solution #card-6 {
    -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
    background-size: 110%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img-card/under.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img-card/under.jpg");
  }
}

body main .solution #card-7 {
  background-image: url("../img-card/under.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

body main .solution #card-7:hover {
  background-size: 110%;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img-card/under.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img-card/under.jpg");
}

@media (max-width: 650px) {
  body main .solution #card-7 {
    -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
    background-size: 110%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img-card/under.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img-card/under.jpg");
  }
}

body main .solution #card-8 {
  background-image: url("../img-card/under.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

body main .solution #card-8:hover {
  background-size: 110%;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img-card/under.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img-card/under.jpg");
}

@media (max-width: 650px) {
  body main .solution #card-8 {
    -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
    background-size: 110%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img-card/under.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img-card/under.jpg");
  }
}

body main .solution #card-9 {
  background-image: url("../img-card/under.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

body main .solution #card-9:hover {
  background-size: 110%;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img-card/under.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img-card/under.jpg");
}

@media (max-width: 650px) {
  body main .solution #card-9 {
    -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
    background-size: 110%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img-card/under.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img-card/under.jpg");
  }
}

body footer {
  text-align: center;
  padding-bottom: 2rem;
}

body footer .social-media-footer {
  display: none;
}

@media (max-width: 650px) {
  body footer .social-media-footer {
    display: block;
    margin-bottom: 10px;
  }
  body footer .social-media-footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body footer .social-media-footer ul li {
    width: 10%;
    text-align: center;
  }
  body footer .social-media-footer ul li i {
    font-size: 1.2rem;
  }
}

body footer span {
  color: #8EF9F3;
  font-weight: 700;
  text-transform: capitalize;
}

@-webkit-keyframes show-left {
  from {
    opacity: 0;
    -webkit-transform: translate3d(30px, 0, 0);
            transform: translate3d(30px, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes show-left {
  from {
    opacity: 0;
    -webkit-transform: translate3d(30px, 0, 0);
            transform: translate3d(30px, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
/*# sourceMappingURL=style.css.map */