@import 'variables';
@import 'mixins';
@import 'modal';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  scroll-padding-top: 5rem;
}


ul {
  list-style: none;
}

a {
  color: $text-color;
  text-decoration: none;
  transition: all 0.3s ease-in;
}

button {
  transition: all 0.4s ease-in;
}

body {
  background: $background-color;
  color: $text-color;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include container;
    @include mobile {
      padding: 1.1rem;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 400;
      background: $background-color;
      box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
    }

    .brand {
      color: $primary-color;
      font-size: 1.8rem;
      text-transform: capitalize;
      font-weight: 700;
      cursor: pointer;
      @include mobile {
        font-size: 1.1rem;
      }
    }

    .navbar {

      ul {
        @include flex-center;
        @include mobile {
          position: absolute;
          top: 0;
          right: 0;
          background: $background-color;
          width: 160px;
          z-index: 100;
          display: none;
          padding: 60px 0 20px 0;
          box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
        
          &.active {
            display: block;
            animation: show-left .3s forwards;
          }
        }
       
        li {
          margin: 0 1rem;
          text-transform: uppercase;
          font-size: 0.9rem;
          @include mobile {
            &:not(:last-child) {
              margin-bottom: 70px;
            }
          }

          a.active {
            color: $secondary-color;
          }

          a:hover {
            color: $secondary-color;
          }    
        }    
      }
    }

    .social-media {
      ul {
        height: 100%;
        @include flex-center;
        @include mobile {
          display: none;
        }

        li {
          margin: 0 1rem;

          a:hover {
            color: $primary-color;
          }
        }
      }
    }

    #menu-hamburger {
      display: none;
      
      @include mobile {
        display: block;
        position: relative;
        z-index: 300;
        font-size: 1.5rem;
        transition: transform 0.2s;
        
        &.fa-times {
          transform: rotate(180deg);
        }
      }
    }
  }

  main {
    @include mobile {
      margin-top: 5rem;
    }
    .solution {
      @include container;
      @include flex-center;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 0;
      @include mobile {
        flex-direction: column;
      }

      .solution-card {
        width: 31%;
        height: 200px;
        margin-bottom: 4%;
        color: $primary-color;
        flex-direction: column;
        @include flex-center;
        @include mobile {
          width: 90%;
          margin-bottom: 6%;
        }

        .solution-card-title {
          font-size: 2rem;
          font-weight: 300;
          margin-bottom: 1rem;
          font-weight: 700;
          text-transform: capitalize;
          text-align: center;
        }

        .solution-btn {
          padding: 0.6rem 2rem;
          border: 2px solid $primary-color;
          color: $primary-color;
          font-weight: 400;
          text-transform: uppercase;
          letter-spacing: 1px;
          cursor: pointer;

          &:hover {
            background: $primary-color;
            color: $background-color;
          }
        }
      }

      #card-1 {
        @include bg-card('qr-code-component.jpg');
        @include mobile {
          filter: grayscale(0%);
          background-size: 110%;
          background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../img-card/qr-code-component.jpg');
        }
      }

      #card-2 {
        @include bg-card('stats-component.jpg');
        @include mobile {
          filter: grayscale(0%);
          background-size: 110%;
          background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../img-card/stats-component.jpg');
        }
      }

      #card-3 {
        @include bg-card('3-column-component.jpg');
        @include mobile {
          filter: grayscale(0%);
          background-size: 110%;
          background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../img-card/3-column-component.jpg');
        }
      }

      #card-4 {
        @include bg-card('under.jpg');
        @include mobile {
          filter: grayscale(0%);
          background-size: 110%;
          background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../img-card/under.jpg');
        }
      }

      #card-5 {
        @include bg-card('under.jpg');
        @include mobile {
          filter: grayscale(0%);
          background-size: 110%;
          background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../img-card/under.jpg');
        }
      }

      #card-6 {
        @include bg-card('under.jpg');
        @include mobile {
          filter: grayscale(0%);
          background-size: 110%;
          background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../img-card/under.jpg');
        }
      }

      #card-7{
        @include bg-card('under.jpg');
        @include mobile {
          filter: grayscale(0%);
          background-size: 110%;
          background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../img-card/under.jpg');
        }
      }

      #card-8 {
        @include bg-card('under.jpg');
        @include mobile {
          filter: grayscale(0%);
          background-size: 110%;
          background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../img-card/under.jpg');
        }
      }

      #card-9 {
        @include bg-card('under.jpg');
        @include mobile {
          filter: grayscale(0%);
          background-size: 110%;
          background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../img-card/under.jpg');
        }
      }
    }
  }

  footer {
    text-align: center;
    padding-bottom: 2rem;
    .social-media-footer {
      display: none;
    }

    @include mobile {
      .social-media-footer {
        display: block;
        margin-bottom: 10px;
        
        ul {
          @include flex-center;
          
          li {
            width: 10%;
            text-align: center;
            
            i {
              font-size: 1.2rem;
            }
          }
        }
      }

    }

    span {
      color: $secondary-color;
      font-weight: 700;
      text-transform: capitalize;
    }
  }

  @include animation;

}
